$primary-color: #000;
$secondary-color: #fff;
$btn-background-color: #000;
$btn-text-color: #fff;
$btn-padding: 10px 20px;
$btn-border-radius: 5em;
$btn-position-bottom: 10%;
$btn-position-left: 5%;

@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@100&display=swap');

// Styles du header
header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    font-family: 'Manrope', sans-serif;
    border-bottom: 5px solid $primary-color;

    .logo {
        margin-left: 30px;

        img {
            width: 200px;
            height: auto;
        }
    }

    nav {
        ul.menu {
            list-style: none;
            display: flex;

            li {
                margin-right: 10px;

                a {
                    text-decoration: none;
                    color: $primary-color;
                    font-size: large;
                    padding: 5px 10px;
                }
            }
        }
    }
}

main {
    h1 {
        font-family: 'Manrope', sans-serif;
    }

    section.best_movie {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: linear-gradient(to left, grey, #eee);
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;

        h2 {
            font-size: 2.5rem;
            color: $primary-color;
            margin: 30px 0;
            justify-content: center;
        }

        .movie-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 20px;

            .btn {
                background-color: $btn-background-color;
                border-radius: $btn-border-radius;
                color: $btn-text-color;
                font-size: large;
                padding: 30px 40px;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .movie-image {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            img {
                display: block;
                max-width: 100%;
                height: 600px;
                object-fit: contain;
                border-radius: 10px;
            }
        }
    }
}




body {
    position: relative;
    height: 100%;
    background-color: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $primary-color;
    // margin-left: 100;
    padding: 0;
}

// Styles pour le carrousel
section.categorie {
    margin-top: 30px;

    h1 {
        color: $primary-color;
        border-top: 2px solid $primary-color;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .swiper-container {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        height: 500px;
        position: relative;


        .swiper-slide {
            text-align: center;
            font-size: 14px;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex: 0 0 calc(25% - 20px);
            border-radius: 10px;
            margin: 10px;

            img {
                display: block;
                width: 100%;
                object-fit: cover;
                height: 350px;
                border-radius: 10px;
            }

            .btn {
                background-color: $btn-background-color;
                color: $btn-text-color;
                border-radius: $btn-border-radius;
                padding: $btn-padding;
                text-decoration: none;
                margin: 0px 140px; // 0px 30px;
                cursor: pointer;
            }
        }

        /* Styles pour les flèches de navigation */
        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background-color: #000;
            color: #fff;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 1;
            font-size: 18px;
            font-weight: bold;
            opacity: 0.7;


            .swiper-button-prev {
                left: 10px;
            }

            .swiper-button-next {
                right: 10px;
            }

            .swiper-button-next::before {
                content: '\203A';
            }

            .swiper-button-prev::before {
                content: '\2039';
            }
        }
    }
}


// Styles pour le bouton en dehors du carrousel
.btn {
    background-color: $btn-background-color;
    border-radius: $btn-border-radius;
    color: $btn-text-color;
    padding: $btn-padding;
    text-decoration: none;
    position: absolute;
    bottom: $btn-position-bottom;
    left: $btn-position-left;
    cursor: pointer;
}

// Styles pour le popup
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: $secondary-color;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 9999;

    img {
        display: block;
        width: 40%;
        object-fit: cover;
        float: right;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}

#close-popup-button {
    background-color: $primary-color;
    color: $secondary-color;
    padding: $btn-padding;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        background-color: #222;
    }
}